# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
*.pem
.env
.env.local
.env.development
.env.test
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Supabase
/supabase/.temp

# IDE
.vscode/
.idea/

# Vite
*.timestamp-*.mjs